@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body{
	padding: 0;
	margin: 0;
}

#mineSweeper{
	height: 100%;
	--ControlsHeight: 50px;

	/* pre load images */
	content:
	url("Images/CellNormal.png")
	url("Images/Empty.png")
	url("Images/Mine.png")
	url("Images/CellFlagged.png")
	url("Images/CellQuestionMark.png");
}

#mineField{
	width: 100%;
	height: calc(100% - var(--ControlsHeight));

	/* turn off selection */
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */

	align-items: center;
	justify-content: center;
}

.row{
	display: flex;
	height: 56px;
	width: 100%;
	justify-content: center;
}

/* cells */
.cell{
	margin: 3px;
	height: 50px;
	width: 50px;
	font-size: 35px;

	color: transparent;
	background-size: contain;
	transition: transform 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 5px;
	background-repeat: no-repeat;
	position: relative;
}

.cell:hover{
	transform: scale(1.2);
}

.cell::after{
	background-color: transparent;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color 0.2s;
}

.cell.normal:hover::after,
.cell.flagged:hover::after{
	background-color: rgba(0, 255, 255, 0.5);
}

.normal{
	background-color: #999;
	box-shadow: inset -3px -3px 5px #000000,
				inset 3px 3px 5px #fff;
	cursor: pointer;
}

.empty{
	background-color: #777;
	box-shadow: inset 3px 3px 10px #000000;
}



.mine{
	background-image: url("Images/Mine.png");
	width: 100%;
	height: 100%;
	background-size: contain;
}

.flagged{
	background-image: url("Images/CellFlagged.png");
}

.cell p{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0px 0px 1px black;
	font-family: 'Roboto', sans-serif;
}

/* controls */
#mineSweeperControls{
	height: var(--ControlsHeight);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.control{
	display: flex;
	align-items: center;
	margin: 1em;
	border-radius: 1em;
	border: 2px solid red;

	padding: 0.25em;
	transition: transform 0.25s;
}

.control:hover{
	transform: scale(1.2);
	cursor: pointer;
}

.control > *{
	margin: 0px;
	padding: 0px;
}


/* popup */
#popupHolder{
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	display: none;
	background-color: var(--DarkenBackground);
}

#popupHolder.popupShowing{
	display: flex;
}

.popup{
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	color: white;
	border-radius: 3em;
	padding-inline: 2em;
	padding-bottom: 2em;
}

.popup > button{
	border-radius: 1em;
	padding: 0.5em;
	background-color: greenyellow;
	font-weight: 700;
}